# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/
.venv/

# IDE files
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local configuration
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints 